Options -Indexes
RewriteEngine On

RewriteRule ^$ public/index.php [L]

RewriteCond %{REQUEST_URI} !/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L,QSA]

RewriteCond %{REQUEST_URI} !/public/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+\.php)$ public/$1 [L,QSA]

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
